---
import client from 'tina/__generated__/client'
import BaseHead from 'components/BaseHead.astro'
import Header from 'components/react/Header'
import Footer from 'components/react/Footer'

const { locale, title, description } = Astro.props
const globalData = await client.queries.global({ relativePath: `${locale}/global.md` })
---

<!doctype html>
<html lang={locale} transition:animate='none'>
    <head>
        <BaseHead title={title ?? globalData.data.global.genericTitle} description={description ?? globalData.data.global.genericDescription} />
    </head>
    <body>
        <Header lang={locale} globalData={globalData} />
        <slot />
        <Footer globalData={globalData} />

        <script src='../scripts/aos.js'></script>
        <script src='node_modules/lite-youtube-embed/src/lite-yt-embed.js'></script>
    </body>
</html>
